
:root {
    --dark_red: #78281F;
    --gold: #AE8A5D;
    --white: #FEFDF2;
    
}

body {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
}

main {
    margin-top:50px;
    height: 100%;
    min-width: 200px;

    border: 0.5rem solid var(--gold);
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color:  var(--dark_red);
}
